@import "../variables";
.details {
  background-color: $gray;
  width: 60%;
}
.options {
  animation: moveIn 0.8s ease-out 0.9s;
  animation-fill-mode: backwards;
  display: flex;
  padding: 1.8em;
  border-bottom: 1px solid #c7dada;
  justify-content: space-between;
  button {
    margin: 0 6px;
    padding: 4px 10px;
    border-radius: 3px;
    border: 1px solid #c7dada;
  }

  #del {
    font-weight: bold;
    background-color: $red;
    color: #fff;
  }

  #und {
    font-weight: bold;
    background-color: $blue;
    color: #fff;
  }
  button:hover {
    padding: 3px 8px;
  }
  #del:active,
  #und:active,
  button:active {
    box-shadow: inset 0 0 0 1000px #00000033;
  }
}
.body,
.attachments {
  margin: 1.8em;
  padding: 1em;
  background-color: white;
}

.body {
  min-height: 50vh;
  div {
    color: rgb(110, 110, 110);
    font-size: larger;
    font-style: italic;
    text-align: right;
  }
}
.attachments {
  display: flex;
  justify-content: flex-start;

  div {
    padding: 0 4px;
    a {
      color: $blue;
      font-weight: bold;
      text-decoration: none;
    }
  }
}
.placeholder {
  margin: auto;
  text-align: center;
  font-size: x-large;
  width: 60%;
  animation: moveIn 0.4s ease-out 0.75s;
  animation-fill-mode: backwards;
}

@keyframes moveIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
