.sender {
  padding: 1em;
  margin-bottom: 20px;
  display: flex;
  flex-flow: row;

  img {
    box-shadow: 0px 4px 20px #a5aeb3;
    margin-right: 0.6em;
  }
  div {
    display: flex;
    flex-flow: column;
  }
}
