.sender {
  padding: 1.8em;
  margin-bottom: 20px;
  border-bottom: 1px solid #c7dada;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  animation: moveInRight 0.8s ease-out;
  .imgContainer {
    margin-right: 1em;
    margin-left: 6px;
  }
  img {
    box-shadow: 0px 4px 20px #a5aeb3;
  }
  div {
    display: flex;
    flex-flow: column;
    margin-right: 8px;
  }
  h2,
  h4 {
    margin: 0;
  }
  h4 {
    margin-top: 5px;
    text-align: right;
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
