@import "./variables";
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  color: #3b3d3f;
  background-color: #fff;
}
.email-client {
  height: 100vh;
  display: flex;
}
